/target
/dist
/data
/tmp
/web/dist
/web/node_modules
*.db
*.db-shm
*.db-wal
.env
/data
/craftls/Cargo.lock
.DS_Store
.vscode/
.idea/
*.swp
*.pdb
/cc-gateway
/postgresql:
/tests/
/claude-codelogs/
*.png
